In [1]:
x <- 10
y <- runif(1) * 100

if(x > y){
    print("x > runif()")
}
print("---End---")

[1] "---End---"

In [2]:
x <- 10
y <- runif(1) * 100

if(x > y){
    print("x > runif()")
}else{
    print("x > runif()")
}
print("---End---")

[1] "x > runif()"
[1] "---End---"

In [3]:
x <- 10
y <- runif(1) * 100

if(x > y){
    print("x > runif()")
}else if(x < y){
    print("x < runif()")
}else{
    print("x = runif()")
}

[1] "x < runif()"

In [4]:
# 홀수 짝수 구분

a <- c(8,7,6)

if(a%%2==0){
    sprintf("%i는 짝수 입니다.",a)
}else{
    cat(a,"는 홀수 입니다.")
}

Warning message in if (a%%2 == 0) {:
“length > 1 이라는 조건이 있고, 첫번째 요소만이 사용될 것입니다”

[1] "8는 짝수 입니다." "7는 짝수 입니다." "6는 짝수 입니다."

In [5]:
a <- c(8,7,6)

ifelse(a %% 2 == 0, "짝수", "홀수")

[1] "짝수" "홀수" "짝수"

In [6]:
ifelse(a %% 2 == 0, paste(a,": 짝수"), paste(a,": 홀수")) #벡터로 만들기위해 paste로 해준다.

[1] "8 : 짝수" "7 : 홀수" "6 : 짝수"

In [24]:
# 사용자로부터 data를 입력 받아 입력한 숫자가 홀수인지 짝수 인지 판단하여 출력하기.

num1 <- as.integer(readline("숫자를 입력하세요 :"))

#입력하신 숫자는 12이고 짝수 입니다.

if(num1 %% 2 ==0){
  cat("입력하신 숫자는",num1,"이고 짝수 입니다.") 
}else{ 
    cat("입력하신 숫자는",num1,"이고 홀수 입니다.") 
}

숫자를 입력하세요 :12
입력하신 숫자는 12 이고 짝수 입니다.

In [36]:
a <- as.integer(readline("점수를 입력하세요 :"))

if(a >= 90){
    print("A학점 입니다.")
}else if( a >= 80){
    print("B학점 입니다.")
}else{
    print("C학점 입니다.")
}

점수를 입력하세요 :95
[1] "A학점 입니다."

---
### csv file을 불러서 사용하기

In [17]:
excel <- read.csv("../../Data/excel.csv")
head(excel)

  q1 q2 q3 q4 q5
1 2  4  4  2  2
2 1  2  2  2  2
3 2  3  4  3  3
4 3  5  5  3  3
5 3  2  4  4  4
6 4  3  3  4  2

str(excel)

In [40]:
# q1컬럼에서 Data가 3보다 크거나 같으면 data를 제곱근을 구하고 아니면 원래 Data를 출력하기

q1 <- excel$q1
length(q1)
print(ifelse(q1>=3, sqrt(q1), q1)) #(조건, 맞으면, 틀리면)

[1] 402

  [1] 2.000000 1.000000 2.000000 1.732051 1.732051 2.000000 1.732051 2.000000
  [9] 2.000000 2.000000 2.000000 1.732051 1.732051 1.732051 1.000000 1.732051
 [17] 1.732051 1.732051 2.000000 1.732051 1.732051 2.000000 2.000000 2.000000
 [25] 1.732051 2.000000 2.000000 2.000000 1.732051 1.732051 1.000000 1.732051
 [33] 1.732051 1.732051 2.000000 1.732051 2.000000 2.000000 1.732051 2.000000
 [41] 2.000000 2.000000 1.732051 1.732051 2.000000 2.000000 2.000000 1.000000
 [49] 2.000000 1.732051 2.000000 2.000000 1.732051 2.000000 1.732051 2.000000
 [57] 2.000000 2.000000 2.000000 1.732051 2.000000 2.000000 2.000000 1.732051
 [65] 1.732051 1.732051 1.732051 2.000000 1.000000 2.000000 1.732051 1.732051
 [73] 1.732051 2.000000 2.000000 2.000000 1.000000 1.732051 1.732051 2.000000
 [81] 2.000000 2.000000 1.732051 2.000000 1.732051 1.732051 2.000000 1.732051
 [89] 2.000000 2.000000 2.000000 2.000000 2.000000 2.000000 1.000000 2.000000
 [97] 2.000000 2.000000 2.000000 2.000000 1.732051 1.732051 2.000000 1.732051
[105] 1.732051 2.000000 2.000000 2.000000 2.000000 2.000000 2.000000 2.000000
[113] 1.732051 2.000000 2.000000 2.000000 1.732051 1.732051 1.732051 2.000000
[121] 1.000000 1.732051 2.000000 1.732051 1.732051 2.000000 1.732051 1.732051
[129] 1.732051 2.000000 2.000000 2.000000 1.000000 1.732051 1.732051 2.000000
[137] 1.732051 2.000000 1.732051 1.000000 2.000000 1.732051 2.236068 2.000000
[145] 1.732051 1.732051 2.000000 2.000000 1.732051 2.000000 1.732051 1.732051
[153] 1.000000 1.732051 2.000000 2.000000 1.732051 1.732051 2.000000 2.000000
[161] 2.000000 2.000000 2.000000 2.000000 1.732051 1.732051 1.732051 2.000000
[169] 2.000000 2.000000 1.000000 1.732051 1.732051 2.000000 1.732051 2.000000
[177] 1.732051 1.000000 2.000000 1.732051 2.236068 2.000000 1.732051 1.732051
[185] 2.000000 2.000000 1.732051 2.000000 1.732051 1.732051 1.000000 1.732051
[193] 2.000000 2.000000 2.000000 2.000000 2.000000 2.000000 2.000000 1.732051
[201] 2.000000 2.000000 2.000000 1.732051 1.732051 1.732051 2.000000 1.000000
[209] 1.732051 2.000000 1.732051 1.732051 2.000000 1.732051 1.732051 1.000000
[217] 1.732051 1.732051 2.000000 1.732051 2.000000 1.732051 1.000000 2.000000
[225] 1.732051 2.236068 2.000000 1.732051 1.732051 2.000000 2.000000 1.732051
[233] 2.000000 1.732051 1.732051 1.000000 1.732051 2.000000 2.000000 1.732051
[241] 1.732051 2.000000 2.000000 2.000000 2.000000 2.000000 2.000000 1.732051
[249] 1.000000 1.732051 2.000000 2.000000 2.000000 2.000000 2.000000 2.000000
[257] 2.000000 1.732051 2.000000 2.000000 2.000000 1.732051 1.732051 1.732051
[265] 2.000000 1.000000 1.732051 2.000000 1.732051 1.732051 2.000000 2.000000
[273] 1.732051 2.000000 1.732051 1.732051 1.000000 1.732051 2.000000 2.000000
[281] 1.732051 1.732051 2.000000 2.000000 2.000000 2.000000 2.000000 2.000000
[289] 1.732051 1.000000 1.732051 2.000000 2.000000 2.000000 2.000000 2.000000
[297] 2.000000 2.000000 1.732051 2.000000 2.000000 2.000000 1.732051 1.732051
[305] 1.732051 2.000000 1.000000 1.732051 1.732051 2.000000 2.000000 1.732051
[313] 2.000000 1.732051 1.732051 1.000000 1.732051 2.000000 2.000000 1.732051
[321] 1.732051 2.000000 2.000000 2.000000 2.000000 2.000000 2.000000 1.732051
[329] 1.000000 1.732051 2.000000 2.000000 2.000000 2.000000 2.000000 2.000000
[337] 2.000000 1.732051 2.000000 2.000000 2.000000 1.732051 1.732051 1.732051
[345] 2.000000 1.000000 2.000000 1.732051 1.732051 1.000000 1.732051 2.000000
[353] 2.000000 1.732051 1.732051 2.000000 2.000000 2.000000 2.000000 2.000000
[361] 2.000000 1.732051 1.000000 1.732051 2.000000 2.000000 2.000000 2.000000
[369] 2.000000 2.000000 2.000000 1.732051 2.000000 2.000000 2.000000 1.732051
[377] 1.732051 1.732051 2.000000 1.000000 1.732051 2.000000 1.732051 1.732051
[385] 2.000000 2.000000 1.732051 2.000000 1.732051 1.732051 1.000000 1.732051
[393] 2.000000 2.000000 1.732051 1.732051 2.000000 2.000000 2.000000 2.000000
[401] 2.000000 2.000000

In [42]:
# q1컬럼에서 Data가 3보다 크거나 같으면 data를 제곱근을 구하고 아니면 원래 Data를 q6라는 컬럼을 만들어 추가하기-----------------------------

excel$q6 <- ifelse(q1>=3, sqrt(q1), q1) 
head(excel)

  q1 q2 q3 q4 q5 q6
1 2  4  4  2  2  2.000000
2 1  2  2  2  2  1.000000
3 2  3  4  3  3  2.000000
4 3  5  5  3  3  1.732051
5 3  2  4  4  4  1.732051
6 4  3  3  4  2  2.000000